html {
	line-height: 1.5;
	font-family: "Roboto", sans-serif !important;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/background.jpg);
	background-position: center;
	background-attachment: fixed;
}

.brand-logo img {
	max-height: 54px;
	height: auto;
	margin-right: 10px;
}

.text-bold {
	font-weight: bold;
}

.border-round {
	border-radius: 100px !important;
}

.width-40 {
	width: 90% !important;
	max-width: 200px;
}

.card {
	overflow: hidden;
}

.mb-0 {
	margin-bottom: 0;
}

.retro {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
	border: none;
	font: normal 82px/normal "Anton", Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 10px;
	text-shadow: 2px 2px 0 rgb(238, 238, 238), 4px 4px 0 #757575;
}

nav {
	background-color: rgb(178, 158, 128);
}

.parcels-section-title {
	color: rgb(130, 158, 178)
}

.custom-color {
	background-color: rgb(31, 133, 206);
}

.icon-full {
	font-size: 250px;
	line-height: 312px;
}

.card-image {
	min-height: 312px;
}