/* Elements */

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/background.jpg);
	background-position: center;
	background-attachment: fixed;
}

/* Materialize Class Overrides */

.brand-logo img {
	max-height: 54px;
	height: auto;
	margin-right: 10px;
}

.card {
	overflow: hidden;
}

/* Custom Classes */

.text-bold {
	font-weight: bold;
}

.mb-0 {
	margin-bottom: 0;
}

.icon-full-medium {
	font-size: 250px;
	line-height: 312px;
}

.card-image-medium {
	min-height: 312px;
}

.card-clickable {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.87);
}

.floor-full-small {
	font-size: 150px;
	line-height: 212px;
}

.unit-full-small {
	font-size: 80px;
	line-height: 212px;
}

.card-image-small {
	min-height: 212px;
}

.custom-round-image {
	border-radius: 100px !important;
	width: 90% !important;
	max-width: 200px;
}

.custom-round-unit {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	line-height: 100px;
}

.primary-color-text {
	color: rgb(130, 158, 178);
}

.primary-color-background {
	background-color: rgb(130, 158, 178);
}

.primary-color-link {
	color: rgb(130, 158, 178) !important;
}

.secondary-color-text {
	color: rgb(178, 158, 128);
}

.secondary-color-background {
	background-color: rgb(178, 158, 128);
}

.secondary-color-link {
	color: rgb(178, 158, 128) !important;
}

.retro {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
	border: none;
	font: normal 82px/normal "Anton", Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	-o-text-overflow: clip;
	text-overflow: clip;
	letter-spacing: 10px;
	text-shadow: 2px 2px 0 rgb(238, 238, 238), 4px 4px 0 #757575;
}