body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/background.jpg);
	background-position: center;
	background-attachment: fixed;
}

.brand-logo img {
	max-height: 54px;
	height: auto;
	margin-right: 10px;
}

.text-bold {
	font-weight: bold;
}